@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Onayla";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="d-flex justify-content-center mb-3">
    <p>    E-postanızı onayladığınız için teşekkür ederiz.</p>
</div>

<div class="d-flex justify-content-center">
    <a class="w-20 btn btn-lg btn-primary" asp-page="./Login">Giriş Yap</a>
</div>
