@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Şifre Sıfırlama Onayı";
}

<h1>@ViewData["Title"]</h1>
<p class="text-center">
    Şifrenizi Sıfırlamak için lütfen mailinizi kontrol ediniz.
</p>
<a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
    <i class="btn btn-primary"> GİRİŞ EKRANI</i>    
</a>