@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header class="text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">"Bu hesap kilitlendi, lütfen daha sonra tekrar deneyin."</p>
</header>
