@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<p>
    Şifreniz sıfırlandı. Giriş yapmak için lütfen <a asp-page="./Login">buraya tıklayın</a>.
</p>
