@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Şifre Sıfırla";
}


<h2 class="text-center">Şifreni Sıfırla</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-outline mb-3">
                <label asp-for="Input.Password" class="form-label">Şifre:</label>
                <div class="input-group ">
                    <input asp-for="Input.Password" class="form-control" id="password" autocomplete="current-password" aria-required="true"
                           placeholder="Şifrenizi Giriniz" />
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <button class="rounded-3 bg-transparent" type="button" id="show-password"><i class="fa fa-eye" aria-hidden="true"></i></button>
                        </span>

                    </div>
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-outline mb-3">
                <label asp-for="Input.ConfirmPassword" class="form-label">Şifre Tekrar:</label>
                <div class="input-group ">
                    <input asp-for="Input.ConfirmPassword" class="form-control" id="password2" autocomplete="current-password" aria-required="true"
                           placeholder="Şifrenizi Giriniz" />
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <button class="rounded-3 bg-transparent" type="button" id="show-password2"><i class="fa fa-eye" aria-hidden="true"></i></button>
                        </span>

                    </div>
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Sıfırla</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        const passwordInput = document.getElementById("password");
        const showPasswordButton = document.getElementById("show-password");

        showPasswordButton.addEventListener("mousedown", () => {
            passwordInput.type = "text";
        });

        showPasswordButton.addEventListener("mouseup", () => {
            passwordInput.type = "password";
        });

        showPasswordButton.addEventListener("mouseleave", () => {
            passwordInput.type = "password";
        });

        const passwordInput2 = document.getElementById("password2");
        const showPasswordButton2 = document.getElementById("show-password2");

        showPasswordButton2.addEventListener("mousedown", () => {
            passwordInput2.type = "text";
        });

        showPasswordButton2.addEventListener("mouseup", () => {
            passwordInput2.type = "password";
        });

        showPasswordButton2.addEventListener("mouseleave", () => {
            passwordInput2.type = "password";
        });
    </script>
}
